{% extends 'base.html' %}

{% block content %}

    <div id="home" class="banner-area section-padding">
        <div class="bg-overlay black"></div>
        <div class="containter">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome-text">
                        <div class="name-area wow fadeInDown" data-wow-delay="0.2s">Hello, my name is Harshil</div>
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s">Programmer Analyst</h1>
                        <a href="#about" class="my-btn-1 wow fadeInDown" data-wow-delay="0.6s">Learn more</a>
                        <a href="#contact" class="my-btn-2 wow fadeInDown" data-wow-delay="0.8s">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    About section#}

    <div id="about" class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sn-8 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-left">
                        <h2 class="section-title">About Me</h2>
                        <div class="line"></div>
                        <h4>{{ about.short_description }}</h4>
                        <p style="text-align: justify">{{ about.description }}</p>

                        <!-- Language Proficiency Bars -->
                        <h3>Language Proficiency</h3>

                        <!-- Python Proficiency -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                Python 90%
                            </div>
                        </div>

                        <!-- C# Proficiency -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                C# 85%
                            </div>
                        </div>

                        <!-- JavaScript Proficiency -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                JavaScript 80%
                            </div>
                        </div>

                        <!-- Frameworks and Libraries -->
                        <h3>Frameworks and Libraries</h3>

                        <!-- Python Proficiency -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                Django 95%
                            </div>
                        </div>

                        <!-- C# Proficiency -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                React 90%
                            </div>
                        </div>

                        <!-- JavaScript Proficiency -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                .NET 80%
                            </div>
                        </div>

                        <!-- Databases and Storage -->
                        <h3>Databases and Storage</h3>

                        <!-- Python Proficiency -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                SQL Server 80%
                            </div>
                        </div>

                        <!-- C# Proficiency -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                MySQL 80%
                            </div>
                        </div>

                        <!-- JavaScript Proficiency -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                MongoDB 70%
                            </div>
                        </div>

                        <!-- Development Tools List -->
                        <h3>Development Tools and Platforms</h3>
                        <ul>
                            <li>Visual Studio</li>
                            <li>VS Code</li>
                            <li>Git</li>
                            <li>GitHub</li>
                            <li>Azure</li>
                            <li>Postman</li>
                            <li>Android Studio</li>
                            <!-- Add more tools as needed -->
                        </ul>

                        <a href="portfolio/media/about/HarshilAnilbhaiPatel.pdf" download>Download Resume&nbsp;<i class="fa fa-download"></i></a>
                    </div>
                </div>
                <div class="col-md-5 visible-md visible-lg wow fadeInDown" data-wow-delay="0.6s">
                    <div class="profile">
                        <img src="{{ about.image.url }}" alt="Profile image" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    Recent Works Section#}
    <div id="portfolio" class="portfolio-area section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2>Projects</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for work in works %}
                    <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                        <div class="gallery-items">
                            <a class="view img" href="{{ work.image.url }}">
                                <img src="{{ work.image.url }}" alt="work image" style="width: 100%; height: auto;">
                            </a>

                            <div class="gallery-text">
                                <h2>{{ work.title }}</h2>
                            <p><a href="https://github.com/Harshilgit" target="_blank">GitHub Link</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {#    Services Section#}
    <div id="services" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Experience and Commitment</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for service in services %}

                    <div class="col-md-4 col-sm-4">
                        <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                            <i class="icon icon-wallet"></i>
                            <h2>{{ service.name }}</h2>
                            <p style="text-align: justify;">{{ service.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    {#    Contact section#}

    

    <div id="contact" class="contact-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Contact Me</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 box-contact-form">

                    <form id="contact-form" method="post" action="#">

                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-delay="0.2s">
                                        <input id="form_name" type="text" name="name" class="form-control"
                                               placeholder="Enter your full name *" required="required"
                                               data-error="Fullname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-delay="0.4s">
                                        <input id="form_email" type="email" name="email" class="form-control"
                                               placeholder="Enter your email *" required="required"
                                               data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="0.6s">
                                        <textarea id="form_message" name="message" class="form-control"
                                                  placeholder="Your Message *" rows="4" required="required"
                                                  data-error="Leave a message for me"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-send" value="">Send message</button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>

{% endblock %}